/* home.css */
body {
    background-color: #000000;
    font-family: Arial, sans-serif;
    color: #333;
}

#main {
    margin-top: 50px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
